<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.engsoftware.tasabido" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark" >
        <activity android:name=".PaginaPrincipalActivity" />
        <activity
            android:name=".ListaSubtopicosActivity"
            android:theme="@style/AppTheme.Dark.ActionBar" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.SUBTOPICOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MonitoriaActivity"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.MONITORIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.CADASTRO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CriarDuvidaActivity"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.CRIAR_DUVIDA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaDuvidasActivity"
            android:theme="@style/AppTheme.Dark.ActionBar" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.DUVIDAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DuvidaActivity"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.DUVIDAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CriarMonitoriaActivity"
            android:label="@string/title_activity_criar_monitoria"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.CRIAR_MONITORIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaMonitoriasActivity"
            android:label="@string/title_activity_lista_monitorias"
            android:theme="@style/AppTheme.Dark.ActionBar" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.LISTA_MONITORIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarioActivity"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="br.ufc.engsoftware.tasabido.CALENDARIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>